.postingWrap {
    min-width: 500px;
    min-height: 500px;
    padding: 5px 5px 5px 5px;
  }

  .note {
    min-width: 50vmin;
    min-height: 50vmin;
  }

  
  .posting {
    color: #000;
    font-family: 'Patrick Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size:25px;

    /* position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    max-height: 50%;
    padding:10px;
    font-size: 50%; */

  }

  /* position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
  max-height: 50%;
  padding:10px;
  font-size: 50%; */