.App {
  text-align: center;
  

}

h1 {
  margin: 20px;
}


body {
  /* font-family: "Roboto", sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:100%;
  padding: 10px 10px 0px 0px;
  /* margin: 20px; */
}

text {
  margin: 20px;
}


.App-logo {
  height: 175px;
  width: 500px;
  padding: 0px 0px 0px 0px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.01s linear;
  }
} */

.App-header {
  background-color: #d68c45;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: #fefee3;
  /* padding-left: 50px; */
  padding: 0px 0px 0px 0px;
}

.App-link {
  color: #ffc9b9;
}

.search-button {
  font-weight: bold;
  border-radius: 0%;
}

.active {
  background-color: #04AA6D;
}

.topnav {
  background-color: #c97424;
  width:100%;
  /* padding: 10px; */
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table thead {
  background-color: #c97424;
}

.link {
  color:#fefee3
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.topnav a {
  float: left;
  display: block;
  color: #fefee3;
  text-align: center;
  padding: 14px 14px 14px 14px;
  padding: 14px 14px;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  /* font-size: 18px; */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  padding: 14px 14px 14px 14px;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#foodTable {
  visibility: collapse;
}

.wrapper {
  text-align: center;

}

#search-button {
  min-width: 50%;
  min-height: 200px;
  margin:auto;
  text-align:center;
  position: absolute;
  top: 50%;
  left: 25%;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
}

#sideInfo {
  text-align: left;
  padding:0px;
}

#atnlWrapper {
  background-color: #fefee3;
  color:#c97424;
  padding: 5px 5px;
}
#aboutWrapper {
  background-color: #04AA6D;
  color:#fefee3;
  padding: 5px 5px;

}

#about {
  background-color: #04AA6D;
  color:#fefee3;
  padding:20px;

}

#adtnlResources {
  background-color: #fefee3;
  color:#c97424;
  padding: 20px;
}


div{
  display:inline-block;
  padding:0px;

}

.footer {
  height: 75px;
  width: 75px;
}



