.App {
  text-align: center;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.01s linear;
  }
} */

.App-header {
  background-color: #d68c45;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: #fefee3;
  /* padding-left: 50px; */
}

.App-link {
  color: #ffc9b9;
}

.search-button {
  font-weight: bold;
  border-radius: 0%;
}

.active {
  background-color: #04AA6D;
}

.topnav {
  background-color: #c97424;
  width:100%;
  padding: 10px;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table thead {
  background-color: #c97424;
}

.link {
  color:#fefee3
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.topnav a {
  float: left;
  display: block;
  color: #fefee3;
  text-align: center;
  /* padding: 0px 16px 0px 0px; */
  padding: 14px 14px;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  /* font-size: 18px; */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  padding: 10px;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#foodTable {
  visibility: none;
}